.card {
	border-radius: 10px;
	padding: 1rem 2rem 1rem 2rem;
	transition: 0.4s;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.5em;
}

.min {
	color: lightgrey;

	font-size: 0.8em
}

.card:hover {
	-webkit-box-shadow: 3px 2px 2px 3px #0C2032;
	-moz-box-shadow: 3px 2px 2px 3px #0C2032;
	box-shadow: 3px 2px 2px 3px #0C2032;
}