body {
	height: 80vh;
	background-color: #569ED6;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.days {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 32px;
	margin-right: 40px;
	margin-left: 40px;
	transition: 2s;
}
/*
085591
1173BE
3488C9
569ED6
81B9E5*/